* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.recipeName {
  position: relative;
  width: fit-content;
  margin-inline: auto;
}
.recipeName::after {
  content: "";
  position: absolute;
  width: calc(100% + 20%);
  height: 40%;
  background-color: rgba(0, 128, 0, 0.277);
  bottom: 5px;
  left: -10%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-5deg);
  transition: 0.8s;
}
.recipeName:hover::after {
  height: 70%;
}
.img {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.img img {
  object-fit: contain;
  width: 100%;
}
.cards {
  align-items: stretch;
}
.img:hover .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000042;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publisher {
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  max-width: 95%;
  text-align: center;
  display: none;
}

.img:hover .publisher {
  display: block;
}
.title {
  height: 25px;
  overflow: hidden;
  transition: height 0.8s;
}

.sidebar {
  width: 50px;
  background-color: rgb(194, 213, 185);
  height: 25vh;
  transition: all 0.7s ease-in-out;
  position: fixed;
  overflow: hidden;
  color: #000;
  z-index: 100;
}

.sidebar.open {
  width: 250px;
  z-index: 100;
  height: 100vh;
}

.sidebar .side-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.open .side-content {
  opacity: 1;
}

.sidebar .icon {
  position: absolute;
  top: 25%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
}
.sidebar.open .icon {
  top: 5%;
}
.sidebar .icon:hover {
  color: #fff;
}

.lists {
  list-style-type: none;
  padding-inline: 20px 40px;
  margin-top: 80px;
}

.lists li {
  padding: 15px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.lists li.active,
.lists li:hover {
  background-color: #fff;
  font-weight: 500;
}

.icon svg {
  transition: transform 0.3s ease;
}

.sidebar.open .icon svg {
  transform: rotate(180deg);
}
